<section class="row">
    <h1>Proyectos</h1>
    <article class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/proyectos-new" *ngIf="isLogged">
            Agregar proyecto
        </button>
    </article>

    <div class="col-lg-1"></div>
    <article class="col-lg-11">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <h4>Nombre</h4>
                    </th>
                    <th>
                        <h4>Descripción</h4>
                    </th>
                    <th>
                        <h4>URL</h4>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let Proyectos of proyectos">
                    <td>
                        <h3>{{Proyectos.nombreP}}</h3>
                    </td>
                    <td>
                        {{Proyectos.descripcionP}}
                    </td>
                    <td>
                        <h6><a href="{{Proyectos.linkP}}" target="_blank">Ver proyecto</a></h6>
                    </td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-light" routerLink="/proyectos-edit/{{Proyectos.id}}">
                            <i class="bi bi-pencil-square"></i> EDIT</button>
                    </td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-danger" (click)="delete(Proyectos.id)">
                            <i class="bi bi-trash3"></i> DELETE</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </article>
</section>