<section class="row">
    <h1>Experiencia laboral</h1>
    <article class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/experiencia-new" *ngIf="isLogged">
            Nueva Experiencia
        </button>
    </article>

    <div class="col-lg-1"></div>
    <article class="col-lg-11">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <h4><i>Nombre</i></h4>
                    </th>
                    <th>
                        <h4><i>Empresa</i></h4>
                    </th>
                    <th>
                        <h4><i>Descripción</i></h4>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let Experiencia of expe">
                    <td>
                        <h3>{{Experiencia.nombreE}}</h3>
                    </td>
                    <td>
                        {{Experiencia.empresaE}}
                    </td>
                    <td>
                        {{Experiencia.descripcionE}}
                    </td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-light" routerLink="/experiencia-edit/{{Experiencia.id}}">
                            <i class="bi bi-pencil-fill"></i> EDITAR</button>
                    </td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-danger" (click)="delete(Experiencia.id)">
                            <i class="bi bi-trash-fill"></i> BORRAR</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </article>
</section>