<div class="login-dark" *ngIf="proyectos">
    <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
        <h2 class="sr-only">Editar proyecto</h2>
        <h3 class="illustration"><i class="bi bi-clipboard-data"></i></h3>
        <div class="form-group">
            <label for="nombreP">Nombre del proyecto</label>
            <input type="text" class="form-control" id="nombreP" name="nombreP" [(ngModel)]="proyectos.nombreP"
                required>
        </div>
        <div class="form-group">
            <label for="descripcionP">Descripcion del proyecto</label>
            <input type="text" class="form-control" id="descripcionP" name="descripcionP"
                [(ngModel)]="proyectos.descripcionP" required>
        </div>
        <div class="form-group">
            <label for="linkP">Link del proyecto</label>
            <input type="text" class="form-control" id="linkP" name="linkP" [(ngModel)]="proyectos.linkP">
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit">Actualizar</button>
        </div>
    </form>
</div>